<!---$def with(form,re_or_log)

$if re_or_log=="register":
    <h1>注册</h1>
$else:
    <h1>登录</h1>
<form method="POST">
    $:form.render()
</form>  -->
{% extends "base.html" %}

{%block title%}{%if re_log=="register"%}注册{%else%}登录{%endif%}{%endblock%}

{% block nav %}
<li><a href="/">首页</a></li>
{%if re_log=="register"%}
<li class="active"><a href="/register">注册</a></li>
{%if session.name==None%}
<li><a href="/login">登录</a></li>
{%endif%}
{%else  %}
<li ><a href="/register">注册</a></li>
{%if session.name==None%}
<li class="active"><a href="/login">登录</a></li>
{%endif%}
{%endif%}
{% endblock %}

{% block content %}
{% if msg %}
<div class="alert alert-danger fade in"><font size="2.5em">{{msg}}</font>
<button type="button" class="close" data-dismiss="alert" aria-hidden="true">
<font size="2.5em">close</font></button>
</div>
{%endif%}
{%if re_log=="register"%}<h2>注册</h2>{%else%}<h2>登录</h2>{%endif%} 
<form method="POST">
  {{ form.render() }}
</form> 
{% endblock %}

